
body{
  overflow-x: hidden;
}

#hero-section {
  height: 100vh;           
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  row-gap: 120px;
  padding-left: 1.5%;    
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  filter: brightness(70%);
}

.hero-text {
  background-color: #113b5796;
  max-width: 550px;
	padding:1%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  position: absolute;
  bottom: 20%; 
  left: 7%;   
  color: white;
  z-index: 10;
}

.hero-text h5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.9;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-text .btn {
  background-color: #c6a96d;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.hero-text .btn:hover {
  background-color: #a5824c;
}

#navBox { 
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 10px;
}



#navBar {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 15px;
  background-color: #154666a8;
  z-index: 1050;
}

.navbar-nav{
    margin: 0 !important;
}

.siteLogo {
  border-radius:30px;
  width: 80px;
  height: 70px;
}

.nav-link {
  font-size: 25px;
  transition: 0.3s;
  color: #BDA588 !important;
}

.nav-link:hover {
  font-size: 30px;
  color: #f5dfc4 !important;
}

.nav-link.active {
  color: #f5dfc4 !important;
}

.dropdown-menu.show{
    background-color: #154666;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    z-index: 1050;
    padding: 10px;
    border-radius: 6px;
  }
  
  .dropdown-item{
    color: #BDA588;
    font-size: 20px;
  }

  .dropdown-item:hover {
    color: #BDA588;
    background-color: #113b57;
}

.header, h2{
  color:#154666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  color: #113b57;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
  color: #113b57;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
  background-color: #c6a96d;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  z-index: 2;
}

.btn:hover{
  background-color:#a5824c ;
  color: white;
}


.subheader{
  color:#c6a96d ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




@media screen and (min-width:1281px) and (max-width: 1700px) {
  .paragraph {
    font-size: 17px;
  }
  li{
    font-size: 17px;
  }
}

@media screen and (min-width:800px) and (max-width: 1280px) {
  .paragraph {
    font-size: 14px;
  }
   li{
    font-size: 14px;
  }
}

.visit-villa-section {
  position: relative;
  height: 500px;
  
}

.visit-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.visit-overlay-content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.visit-villa-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay for text readability */
  z-index: 1;
}

#footer{
  bottom:0;
  left:0;
  right:0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#154666;
  color:#c6a96d;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

i.fa-instagram, .fa-facebook, .fa-tiktok{
  font-size: 30px;
}

a{
  color: #BDA588;
}

 