body{
  overflow-x: hidden;
}

#hero-section {
  height: 60vh;           
  position: relative;
  color: white;
  
}

#carouselExampleCaptions3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin-top: 100px;
}

.hero-header{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

section {
    background-color: white; 
    margin-top: 100px;      
    padding: 50px 0;         
}

@media screen and (max-width: 807px) {
  section.section {
    margin-top: 0;
    padding: 0;
  }
}

.container ul {
    list-style-position: inside; 
    padding-left: 0; 
    margin-left: 0; 
}

.container li {
    margin-bottom: 10px; 
}

#navBox { 
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-left:1.5%;
  padding-top: 10px;
  top: 0;
  z-index: 999;
}

#navBar {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 15px;
  background-color: #154666a8;
  z-index: 1050;
  
}

.navbar-nav{
    margin: 0 ;
}

.dropdown{
  position: relative;
}
.dropdown-menu {
  z-index: 1050; 
  position: absolute;
}

.dropdown-menu.show {
  background-color: #154666;
  width: 200px;
  height: auto; 
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  z-index: 1050; 
  padding: 10px;
  border-radius: 6px;
}

.dropdown-item {
  color: #BDA588;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown-item:hover {
  color: #BDA588;
  background-color: #113b57;
}

.siteLogo {
  border-radius:30px;
  width: 80px;
  height: 70px;
}

.nav-link {
  font-size: 25px;
  transition: 0.3s;
  color: #BDA588 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link:hover {
  font-size: 30px;
  color: #f5dfc4 !important;
}

.nav-link.active {
  color: #f5dfc4 !important;
}


.btn{
  background-color: #c6a96d;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
}

.btn:hover{
  background-color:#a5824c ;
  color: white;
}


p,h4,h2,h5,h3,li, .card-title{
  color:#173e62;
  z-index: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
  color:#173e62;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label{
  color: #BDA588;
}

 #footer{
    bottom:0;
    left:0;
    right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#154666;
    color:#c6a96d;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  i.fa-instagram, .fa-facebook, .fa-tiktok{
  font-size: 30px;
}
a{
  color: #BDA588;
}
